extends base

block content
  main.main 
    .form-container.form-container--tour
      h2.heading-secondary.ma-bt-lg= `${Object.keys(tour).length === 0 ? 'create tour' : 'update tour'}`
      form.form
        .form__group
          label.form__label Name
          input.form__input(name='name', type='text', value=`${tour.name || ''}` required)
        .form__group
          label.form__label Duration
          input.form__input(name='duration', type='number', value=`${tour.duration || ''}` required)
        .form__group
          label.form__label Max group size
          input.form__input(name='maxGroupSize', type='number', value=`${tour.maxGroupSize || ''}` required)
        .form__group
          label.form__label Difficulty
          input.form__input(name='difficulty', type='text', value=`${tour.difficulty || ''}` required)
        .form__group
          label.form__label Ratings average
          input.form__input(name='ratingsAverage', type='number', value=`${tour.ratingsAverage || ''}`)
        .form__group
          label.form__label Ratings quantity
          input.form__input(name='ratingsQuantity', type='number', value=`${tour.ratingsQuantity || ''}`)
        .form__group
          label.form__label Price
          input.form__input(name='price', type='number', value=`${tour.price || ''}` required)
        .form__group
          label.form__label Price discount
          input.form__input(name='priceDiscount', type='number', value=`${tour.priceDiscount || ''}`)
        .form__group
          label.form__label Summary
          textarea.form__input.form__textarea(name='summary', required)= `${tour.summary || ''}`
        .form__group
          label.form__label Description
          textarea.form__input.form__textarea(name='description')= `${tour.description || ''}`
        .form__group
          label.form__label imageCover
          input.form__input(name='imageCover', type='text', value=`${tour.imageCover || ''}` required)
        .form__group
          - const images = tour ? JSON.stringify(tour.images) : ''
          label.form__label Images
          input.form__input(name='images', type='text', value=`${images}` required)
        .form__group
          - const startDates = tour ? JSON.stringify(tour.startDates) : '';
          label.form__label Start dates
          textarea.form__input.form__textarea(name='startDates')= `${startDates}`
        .form__group
          - const secretTour = tour ? String(tour.secretTour) : '';
          label.form__label Secret tour
          input.form__input(name='secretTour', type='text', value=`${secretTour}`)
        .form__group
          - const startLocation = tour ? `${JSON.stringify(tour.startLocation)}` : ''
          label.form__label Start location
          textarea.form__input.form__textarea(name='startLocation')= startLocation
        .form__group
          - const locations = tour ? `${JSON.stringify(tour.locations)}` : ''
          label.form__label Locations
          textarea.form__input.form__textarea(name='locations')= locations
        .form__group
          - const guides = tour ? `${JSON.stringify(tour.guides)}` : ''
          label.form__label Guides
          textarea.form__input.form__textarea(name='guides')= guides
        .form__group
          if tour
            button.btn.btn--green Update
          else
            button.btn.btn--green Submit
